{
    admin off
    auto_https off
}

:80 {
    encode zstd gzip

    # 1. Redirección canónica de www hacia el dominio raíz
    @wwwHost host www.electsun.net
    handle @wwwHost {
        redir https://electsun.net{uri} permanent
    }

    # 2. Subdominios dedicados para SolarSim API & Sync
    @solarsimHost host solarsim.electsun.net api.solarsim.electsun.net api.electsun.net
    handle @solarsimHost {
        reverse_proxy solarsim-api:3000
    }

    # 3. Web Corporativa Electsun (electsun.net y cualquier otra petición)
    handle {
        reverse_proxy electsun-web:3000
    }
}

